CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'
app.indexPage = ''
app.forceGlobalSecureRequests = false

database.default.hostname = localhost
database.default.database = it0049_pos
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_general_ci

database.tests.hostname = localhost
database.tests.database = it0049_pos_test
database.tests.username = root
database.tests.password =
database.tests.DBDriver = MySQLi
database.tests.DBPrefix =
database.tests.port = 3306

logger.threshold = 4
